# Thirdweb Client API
NEXT_PUBLIC_TEMPLATE_CLIENT_ID=

# Managed Account Factory Address
NEXT_PUBLIC_TEMPLATE_FACTORY_ADDRESS=

# Ally Token Drop Contract Address
NEXT_PUBLIC_TEMPLATE_ALLY_DROP_ADDRESS=

# Token UPESEPDROP (UPESEPD)
# https://sepolia.basescan.org/token/0x1901BD26Fd58ce029EA985B0c209FD2c20e18fe3

# UPE Events API URL (where the events come from)
NEXT_PUBLIC_API_URL=

# Production URL for the App
SITE_DEPLOY_URL=

# Choose which Chain this deploys to
CHAIN_CHOICE_BASE=false
CHAIN_CHOICE_BASE_SEPOLIA=true
